@use 'config/vars' as vars;

html {
    @include vars.variables;

    font-size: 10px;
}

body {
    font-family: OverpassMono;
    background-color: var(--color-black);
    color: var(--color-white);
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}