@use 'config/config' as *;

$block-name: 'b-page';

.#{$block-name} {
    &__screens-container {
        position: absolute;
        width: 100vw;
        height: 100dvh;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__screen {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: transform 0.1s linear;

        &.leave-back {
            transform: translateY(calc(-100% * var(--perc, 1)));
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }

        &.enter {
            transform: translateY(calc((var(--from) - var(--to)) * (1 - var(--perc, 1))));
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }

        &.enter-polygon-bottom {
            --offset: 50%;
            --scale: 0;

            transform: translateY(0);
            transition: clip-path var(--anim-delay, 1s);
            opacity: 1;
            visibility: visible;
            z-index: 1;
            clip-path: $polygonBottom;
        }

        &.enter-polygon-center {
            --scale: 0;

            transform: translateY(0);
            transition: clip-path var(--anim-delay, 1s);
            opacity: 1;
            visibility: visible;
            z-index: 2;
            clip-path: $polygonCentered;
        }

        &.leave-polygon-center {
            --scale: 5;

            transform: translateY(0);
            transition: clip-path var(--anim-delay, 1s);
            opacity: 1;
            visibility: visible;
            z-index: 1;
            clip-path: $polygonCentered;
        }

        &.leave {
            transform: translateY(100%);
            opacity: 1;
            visibility: visible;
            z-index: 0;
        }

        &.leave-half {
            transform: translateY(50%);
            opacity: 1;
            visibility: visible;
            z-index: 0;
        }

        &.in-slide {
            --from: 100%;
            --to: 0%;

            transition: transform 0.1s linear;
        }

        &.in-half {
            --from: 56%;
            --to: 0%;

            transition: transform 0.1s linear;
        }

        &.in-fade-under {
            transition: none;
            z-index: -1;
        }

        &.in-fade {
            transition: none;
        }

        &.in-polygon-bottom {
            --scale: calc(5 * var(--perc, 1));
            --offset: 50%;

            transition: clip-path 0.1s;
            z-index: 2;
        }

        &.in-polygon-center {
            --scale: calc(5 * var(--perc, 1));

            transition: clip-path 0.1s;

            &.in-delay {
                --scale: calc(5 * (1 - var(--delay-percent)));
            }
        }

        &.out-scale-under {
            transform-origin: top;
            transition:
                transform 0.1s linear,
                scale 0.1s linear;

            &.leave,
            &.leave-back {
                transform: calc(-10% * var(--perc, 0));
                scale: calc(1 - 0.1 * var(--perc, 0));
                z-index: -1;
            }
        }

        &.out-half-leave {
            transition: transform 0.1s linear;
            
            &.leave,
            &.leave-back {
                transform: translateY(calc(-56% * var(--perc, 0)));
            }
        }

        &.out-no-leave {
            &.leave,
            &.leave-back {
                transform: translateY(0);
            }
        }

        &.out-hide {
            &.leave,
            &.leave-back {
                transform: translateY(0);
                opacity: 0;
            }
        }

        &.out-fade {
            z-index: 0;

            &.leave,
            &.leave-back {
                transition: opacity 0.4s linear;
                transform: translateY(0);
                opacity: 0;
            }
        }

        &.out-content-anim-only {
            &.leave,
            &.leave-back {
                transform: translate(0);

                & [data-content] {
                    transition: transform 0.1s linear;
                    opacity: 1;
                    visibility: visible;
                    z-index: 0;
                }
            }

            &.leave [data-content] {
                transform: translateY(calc(100% * var(--perc)));
            }

            &.leave-back [data-content] {
                transform: translateY(calc(-100% * var(--perc)));
            }
        }

        &.out-polygon-center {
            --scale: calc(5 * var(--perc, 0));

            transition: clip-path 0.1s;
        }

        &.out-polygon-back-center {
            --scale: 0;

            transition: clip-path 0.1s;
        }

        &.no-anim {
            transition: none !important;
        }

        &--third {
            z-index: -1 !important;

            &::after {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0 0 0 / 50%);
                visibility: visible;
                transition: opacity 0.1s linear;
                content: "";
            }

            &.leave-back::after {
                opacity: 0;
            }

            &.enter::after {
                opacity: calc(1 - 1 * var(--perc, 0));
            }
        }

        &--white.out-fade {
            z-index: 2;
        }

        &--tenth {
            background-color: var(--color-black);
            z-index: 1 !important;

            &.visible {
                transform: translateY(0);
                opacity: 1 !important;
            }
        }

        &--sixteenth {
            background-color: var(--color-black);

            &::before {
                position: absolute;
                width: 100%;
                height: 100%;
                top: -0.1rem;
                left: -0.1rem;
                content: "";
            }
        }

        &.hide-top {
            display: none;
            transform: translateY(-100vh);
        }
    }

    &__temp-screens {
        position: relative;
        z-index: -1;
    }

    &__temp-screen {
        visibility: hidden;
        width: 0;
        height: var(--screen-h, 100dvh);
        z-index: -1;
    }

    &__buy-frame {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity var(--base-transition),
            visibility 0s linear var(--base-transition-time);

        &.active {
            visibility: visible;
            opacity: 1;
            background-color: rgba(0 0 0 / 50%);
            transition: opacity var(--base-transition);
        }
    }
}
