@use 'config/config' as *;

$block-name: 'b-page';

.#{$block-name} {
    &__screens-container {
        position: absolute;
        width: 100vw;
        height: 100dvh;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__screen {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: transform 0.1s linear;

        &.leave-back {
            transform: translateY(calc(-100% * var(--perc, 1)));
            opacity: 1;
            visibility: visible;
            z-index: 0;
        }

        &.enter {
            transform: translateY(calc((var(--from) - var(--to)) * (1 - var(--perc, 1))));
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }

        &.enter-polygon-bottom {
            --offset: 50%;
            --scale: 0;

            transform: translateY(0);
            transition: clip-path var(--anim-delay, 1s);
            opacity: 1;
            visibility: visible;
            z-index: 1;
            clip-path: $polygonBottom;
        }

        &.enter-polygon-center {
            --scale: 0;

            transform: translateY(0);
            transition: clip-path var(--anim-delay, 1s);
            opacity: 1;
            visibility: visible;
            z-index: 1;
            clip-path: $polygonCentered;
        }

        &.leave-polygon-center {
            --scale: 5;

            transform: translateY(0);
            transition: clip-path var(--anim-delay, 1s);
            opacity: 1;
            visibility: visible;
            z-index: 1;
            clip-path: $polygonCentered;
        }

        &.leave {
            transform: translateY(100%);
            opacity: 1;
            visibility: visible;
            z-index: 0;
        }

        &.leave-half {
            transform: translateY(50%);
            opacity: 1;
            visibility: visible;
            z-index: 0;
            animation: indexAnimDown var(--anim-delay, 1s);
        }

        &.in-slide {
            --from: 100%;
            --to: 0%;

            transition: transform 0.1s linear;
        }

        &.in-fade-under {
            transition: none;
            z-index: -1;
        }

        &.in-polygon-bottom {
            --scale: 5;
            --offset: 50%;

            transition: clip-path var(--anim-delay, 1s);
        }

        &.in-polygon-center {
            --scale: 5;

            transition: clip-path var(--anim-delay, 1s);
        }

        &.out-scale-under {
            transform-origin: top;
            transition:
                transform 0.1s linear,
                scale 0.1s linear;

            &.leave,
            &.leave-back {
                transform: calc(-10% * var(--perc, 0));
                scale: calc(1 - 0.1 * var(--perc, 0));
                z-index: -1;
            }
        }

        &.out-half-leave {
            transition: transform var(--anim-delay, 1s) ease-in-out;
            
            &.leave,
            &.leave-back {
                transform: translateY(-50%);
            }
        }

        &.out-no-leave {
            &.leave,
            &.leave-back {
                transform: translateY(0);
            }
        }

        &.out-hide {
            &.leave,
            &.leave-back {
                transform: translateY(0);
                transition: opacity 0s linear var(--next-anim-delay);
                opacity: 0;
            }
        }

        &.out-fade {
            &.leave,
            &.leave-back {
                transition: opacity var(--anim-delay) ease-in-out;
                transform: translateY(0);
                opacity: 0;
            }
        }

        &.out-content-anim-only {
            &.leave,
            &.leave-back {
                transform: translate(0);

                & [data-content] {
                    transition: transform var(--anim-delay) ease-in-out;
                    opacity: 1;
                    visibility: visible;
                    z-index: 0;
                }
            }

            &.leave [data-content] {
                transform: translateY(100%);
            }

            &.leave-back [data-content] {
                transform: translateY(-100%);
            }
        }

        &.out-polygon-center {
            --scale: 0;

            transition: clip-path var(--anim-delay, 1s);
            animation: indexAnimDown var(--anim-delay, 1s);
        }

        &.no-anim {
            transition: none !important;
        }

        &--third {
            &::after {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0 0 0 / 50%);
                visibility: visible;
                transition: opacity 0.1s linear;
                content: "";
            }

            &.leave-back::after {
                opacity: 0;
            }

            &.enter::after {
                opacity: calc(1 - 1 * var(--perc, 0));
            }
        }

        &.hide-top {
            display: none;
            transform: translateY(-100vh);
        }

        @keyframes indexAnimUp {
            from {
                z-index: -1;
            }

            99% {
                z-index: -1;
            }

            to {
                z-index: 2;
            }
        }

        @keyframes indexAnimDown {
            from {
                z-index: 2;
            }

            99% {
                z-index: 2;
            }

            to {
                z-index: -1;
            }
        }
    }

    &__temp-screens {
        position: relative;
        z-index: -1;
    }

    &__temp-screen {
        visibility: hidden;
        width: 0;
        height: var(--screen-h, 100dvh);
        z-index: -1;
    }

    &__buy-frame {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity var(--base-transition),
            visibility 0s linear var(--base-transition-time);

        &.active {
            visibility: visible;
            opacity: 1;
            background-color: rgba(0 0 0 / 50%);
            transition: opacity var(--base-transition);
        }
    }
}
