@use 'config/config' as *;

$block-name: 'b-page';

.#{$block-name} {
    &__screens-container {
        position: absolute;
        width: 100vw;
        height: 100dvh;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__screen {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100vh);
        transition: transform 0.1s linear;

        &.leave-back {
            transform: translateY(calc(-100vh * var(--perc, 1)));
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }

        &.enter {
            transform: translateY(calc(100vh * (1 - var(--perc))));
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }

        &.polygon-bottom {
            --default-max-scale: 5;
            --offset: 50vh;

            will-change: clip-path;
            clip-path: $polygonBottom;
            transform: translate3d(0, 0, 0);

            @include breakpoint(1280) {
                --default-max-scale: 10;
            }
        }

        &.polygon-center {
            --default-max-scale: 5;

            will-change: clip-path;
            clip-path: $polygonCentered;
            transform: translate3d(0, 0, 0);

            @include breakpoint(1280) {
                --default-max-scale: 10;
            }
        }

        &.enter-polygon-bottom {
            --scale: 0;

            transform: translate3d(0, 0, 0);
            transition: clip-path 0.1s linear;
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }

        &.enter-polygon-center {
            --scale: 0;

            transform: translate3d(0, 0, 0);
            transition: clip-path 0.1s linear;
            opacity: 1;
            visibility: visible;
            z-index: 2;
        }

        &.leave-polygon-center {
            --scale: 10;

            transform: translate3d(0, 0, 0);
            transition: clip-path 0.1s linear;
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }

        &.leave {
            transform: translateY(100vh);
            opacity: 1;
            visibility: visible;
            z-index: 0;
        }

        &.leave-half {
            transform: translateY(50vh);
            opacity: 1;
            visibility: visible;
            z-index: 0;
        }

        &.in-slide {
            --from: 100vh;
            --to: 0vh;

            transition: transform 0.1s linear;
        }

        &.in-half {
            --from: 56vh;
            --to: 0vh;

            transition: transform 0.1s linear;
        }

        &.in-fade-under {
            transition: none;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            z-index: -1;
        }

        &.in-fade {
            visibility: visible;
            transition: opacity 0.1s linear;
            transform: translateY(0);
            opacity: var(--perc);
        }

        &.in-polygon-bottom {
            --scale: calc(10 * var(--perc, 1));

            transition: clip-path 0.1s linear;
            z-index: 2;
        }

        &.in-polygon-center {
            --scale: calc(10 * var(--perc, 1));

            transition: clip-path 0.1s linear;

            &.in-delay {
                --scale: calc(10 * (1 - var(--delay-percent)));
            }
        }

        &.out-scale-under {
            transform-origin: top;
            transition:
                transform 0.1s linear,
                scale 0.1s linear;

            &.leave,
            &.leave-back {
                transform: calc(-10vh * var(--perc, 0));
                scale: calc(1 - 0.1 * var(--perc, 0));
                z-index: -1;
            }
        }

        &.out-half-leave {
            transition: transform 0.1s linear;
            
            &.leave,
            &.leave-back {
                transform: translateY(calc(-56vh * var(--perc, 0)));

                @include breakpoint(1280) {
                    transform: translateY(calc(-160vh * var(--perc, 0)));
                }
            }
        }

        &.out-no-leave {
            &.leave,
            &.leave-back {
                transform: translateY(0);
            }
        }

        &.out-hide {
            &.leave,
            &.leave-back {
                transform: translateY(0);
                opacity: 0;
            }
        }

        &.out-fade {
            z-index: 0;

            &.leave,
            &.leave-back {
                transition: opacity 0.1s linear;
                transform: translateY(0);
                opacity: calc(1 - var(--perc));
            }
        }

        &.out-content-anim-only {
            &.leave,
            &.leave-back {
                transform: translate(0);

                & [data-content] {
                    transition: transform 0.1s linear;
                    opacity: 1;
                    visibility: visible;
                    z-index: 0;
                }
            }

            &.leave [data-content] {
                transform: translateY(calc(100vh * var(--perc)));
            }

            &.leave-back [data-content] {
                transform: translateY(calc(-100vh * var(--perc)));
            }
        }

        &.out-polygon-center {
            --scale: calc(10 * var(--perc, 0));

            transition: clip-path 0.1s;
        }

        &.out-polygon-back-center {
            --scale: 0;

            transition: clip-path 0.1s;
        }

        &.no-anim {
            transition: none !important;
        }

        &--third {
            z-index: -1 !important;

            &::after {
                position: absolute;
                width: 100vw;
                height: 100dvh;
                top: 0;
                left: 0;
                background: rgba(0 0 0 / 50%);
                visibility: visible;
                transition: opacity 0.1s linear;
                content: "";
            }

            &.leave-back::after,
            &.enter.in-delay::after {
                opacity: 0;
            }

            &.enter::after {
                opacity: calc(1 - 1 * var(--perc, 0));
            }
        }

        &--white.out-fade {
            z-index: 2;
        }

        &--tenth {
            background-color: var(--color-black);
            z-index: 1 !important;

            &.visible {
                transform: translateY(0);
                opacity: 1 !important;
                transition: none !important;
            }

            &.leave-back {
                transition: none;
                z-index: 2 !important;
            }
        }

        &--eleventh,
        &--twelfth,
        &--thirteenth,
        &--fourteenth {
            &.enter,
            &.in-slide,
            &.leave,
            &.leave-back {
                transition: none;
            }

            &.leave-back {
                z-index: 2;
            }
        }

        &--fifteenth {
            transition: none;

            &.leave-back {
                z-index: 3;
            }
        }

        &--sixteenth {
            background-color: var(--color-black);
            transition: none;
            z-index: 2 !important;

            &.in-slide,
            &.leave-back {
                --to: 1vh;

                transition: none;
                z-index: 2;
            }

            &::before {
                position: absolute;
                width: 100vw;
                height: 100vh;
                top: -0.1rem;
                left: -0.1rem;
                content: "";
            }
        }

        &--final.in-slide {
            transition: none;
        }

        &.hide-top {
            display: none;
            transform: translateY(-100vh);
        }

        &.hide {
            display: none;
        }
    }

    &__temp-screens {
        position: relative;
        z-index: -1;
    }

    &__temp-screen {
        visibility: hidden;
        width: 0;
        height: var(--screen-h, 100dvh);
        z-index: -1;
    }

    &__buy-frame {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity var(--base-transition),
            visibility 0s linear var(--base-transition-time);

        &.active {
            visibility: visible;
            opacity: 1;
            background-color: rgba(0 0 0 / 50%);
            transition: opacity var(--base-transition);
        }
    }
}
