@font-face {
    font-family: Motorblock;
    src: url('/public/fonts/Motorblock.ttf') format('truetype');
}

@font-face {
    font-family: Moul;
    src: url('/public/fonts/Moul-Regular.ttf') format('truetype');
}

@font-face {
    font-family: OverpassMono;
    src: url('/public/fonts/OverpassMono.ttf') format('truetype');
}