@use 'mixins' as *;

@mixin variables() {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #555555;
    --color-gray-light: #999999;
    --color-red: #c01c0c;

    --padding-horizontal: 2rem;
    --base-transition-function: ease;
    --base-transition-time: 1s;
    --base-transition: var(--base-transition-time) var(--base-transition-function);

    @include breakpoint(1280) {
        --padding-horizontal: 6rem;
    }
}

$polygonCentered: polygon(
    50vw calc(50vh - 12.6rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    calc(50vw + 8.9rem * var(--scale, var(--default-max-scale, 1))) calc(50vh - 8.95rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    calc(50vw + 12.65rem * var(--scale, var(--default-max-scale, 1))) calc(50vh + var(--offset, 0rem)),
    calc(50vw + 8.9rem * var(--scale, var(--default-max-scale, 1))) calc(50vh + 8.95rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    50vw calc(50vh + 12.6rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    calc(50vw - 8.9rem * (var(--scale, var(--default-max-scale, 1)))) calc(50vh + 8.95rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    calc(50vw - 12.65rem * var(--scale, var(--default-max-scale, 1))) calc(50vh + var(--offset, 0rem)),
    calc(50vw - 8.9rem * var(--scale, var(--default-max-scale, 1))) calc(50vh - 8.95rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    50vw calc(50vh - 12.6rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem))
);

$polygonBottom: polygon(
    50vw calc(50vh - 21.6rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    calc(50vw + 8.9rem * var(--scale, var(--default-max-scale, 1))) calc(50vh - 17.8rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    calc(50vw + 12.65rem * var(--scale, var(--default-max-scale, 1))) calc(50vh - 8.95rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    calc(50vw + 8.9rem * var(--scale, var(--default-max-scale, 1))) calc(50vh + var(--offset, 0rem)),
    50vw calc(50vh + 3.7rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    calc(50vw - 8.9rem * (var(--scale, var(--default-max-scale, 1)))) calc(50vh + var(--offset, 0rem)),
    calc(50vw - 12.65rem * var(--scale, var(--default-max-scale, 1))) calc(50vh - 8.95rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    calc(50vw - 8.9rem * var(--scale, var(--default-max-scale, 1))) calc(50vh - 17.8rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem)),
    50vw calc(50vh - 21.6rem * var(--scale, var(--default-max-scale, 1)) + var(--offset, 0rem))
);