@use 'mixins' as *;

@mixin variables() {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #555555;
    --color-gray-light: #999999;
    --color-red: #c01c0c;

    --padding-horizontal: 2rem;
    --base-transition-function: ease;
    --base-transition-time: 1s;
    --base-transition: var(--base-transition-time) var(--base-transition-function);

    @include breakpoint(1280) {
        --padding-horizontal: 6rem;
    }
}

$polygonCentered: polygon(
    50% calc(50% - 12.6rem * var(--scale, 1) + var(--offset, 0rem)),
    calc(50% + 8.9rem * var(--scale, 1)) calc(50% - 8.95rem * var(--scale, 1) + var(--offset, 0rem)),
    calc(50% + 12.65rem * var(--scale, 1)) calc(50% + var(--offset, 0rem)),
    calc(50% + 8.9rem * var(--scale, 1)) calc(50% + 8.95rem * var(--scale, 1) + var(--offset, 0rem)),
    50% calc(50% + 12.6rem * var(--scale, 1) + var(--offset, 0rem)),
    calc(50% - 8.9rem * (var(--scale, 1))) calc(50% + 8.95rem * var(--scale, 1) + var(--offset, 0rem)),
    calc(50% - 12.65rem * var(--scale, 1)) calc(50% + var(--offset, 0rem)),
    calc(50% - 8.9rem * var(--scale, 1)) calc(50% - 8.95rem * var(--scale, 1) + var(--offset, 0rem)),
    50% calc(50% - 12.6rem * var(--scale, 1) + var(--offset, 0rem))
);

$polygonBottom: polygon(
    50% calc(50% - 21.6rem * var(--scale, 1) + var(--offset, 0rem)),
    calc(50% + 8.9rem * var(--scale, 1)) calc(50% - 17.8rem * var(--scale, 1) + var(--offset, 0rem)),
    calc(50% + 12.65rem * var(--scale, 1)) calc(50% - 8.95rem * var(--scale, 1) + var(--offset, 0rem)),
    calc(50% + 8.9rem * var(--scale, 1)) calc(50% + var(--offset, 0rem)),
    50% calc(50% + 3.7rem * var(--scale, 1) + var(--offset, 0rem)),
    calc(50% - 8.9rem * (var(--scale, 1))) calc(50% + var(--offset, 0rem)),
    calc(50% - 12.65rem * var(--scale, 1)) calc(50% - 8.95rem * var(--scale, 1) + var(--offset, 0rem)),
    calc(50% - 8.9rem * var(--scale, 1)) calc(50% - 17.8rem * var(--scale, 1) + var(--offset, 0rem)),
    50% calc(50% - 21.6rem * var(--scale, 1) + var(--offset, 0rem))
);