@use '../config/config' as *;

$block-name: 'b-buy-screen';

.#{$block-name} {
    padding: 5.9rem 2rem;
    background-color: var(--color-black);

    @include breakpoint(1280) {
        padding: 18.7rem 6rem;
    }

    &__title {
        display: none;

        @include breakpoint(1280) {
            --lh: 1.1;

            display: block;
            text-align: center;
            font-family: Overpass Mono;
            font-size: 5rem;
            font-weight: 700;
            margin-bottom: 5rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @include breakpoint(1280) {
            flex-direction: row;
        }
    }

    &__ticket-container {
        position: relative;
        padding: 3.2rem 2rem;
        display: flex;
        gap: 1.6rem;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--color-white);

        @include breakpoint(1280) {
            flex-basis: calc(50% - 1.5rem);
            padding: 3.2rem 4rem;
            gap: 2.4rem;
        }

        &::before {
            position: absolute;
            width: 7.5rem;
            height: 7.5rem;
            top: -0.2rem;
            right: -0.2rem;
            background-color: var(--color-black);
            content: "";
        }

        &::after {
            position: absolute;
            width: 7.5rem;
            height: 7.5rem;
            top: -0.2rem;
            right: -0.2rem;
            clip-path: polygon(0 1%, 0 0, 100% 100%, 99% 100%);
            background-color: var(--color-white);
            content: "";
        }

        &.golden {
            border-color: #F8DFA5;

            &::after {
                background-color: #F8DFA5;
            }

            & .#{$block-name}__cost {
                background: linear-gradient(101.61deg, #CD9614 7.53%, #F8DFA5 53.54%, #DAA835 98.63%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            & .#{$block-name}__buy {
                background: linear-gradient(101.61deg, #CD9614 7.53%, #F8DFA5 53.54%, #DAA835 98.63%);

                &::before {
                    background: linear-gradient(6.6deg, #CD9615 1.37%, #CE9717 51.01%, #D6A533 94.81%);
                }

                &::after {
                    background: linear-gradient(185.83deg, #E5BC5E 3.8%, #DAA836 95.37%);
                }
            }

            & .#{$block-name}__descr {
                max-width: 40rem;
            }
        }
    }

    &__cost {
        display: flex;
        justify-content: center;
        gap: 3rem;
    }

    &__value {
        font-family: Motorblock; 
    }

    &__currency {
        font-family: 'OverpassMono';

        @include breakpoint(1280) {
            padding-top: 0.7rem;
        }
    }

    &__value,
    &__currency {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 5.76rem;
        text-align: center;

        @include breakpoint(1280) {
            font-size: 7rem;
            line-height: 8.4rem;
        }
    }

    &__label {
        font-family: 'OverpassMono';
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.5rem;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--color-gray);

        @include breakpoint(1280) {
            font-size: 3.2rem;
            line-height: 4.05rem;
        }
    }

    &__sub {
        padding: 0.4rem 2.4rem;
        font-family: 'OverpassMono';
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.28rem;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        border: 1px solid var(--color-white);
        width: fit-content;
        margin: 0 auto;

        @include breakpoint(1280) {
            font-size: 2.4rem;
            line-height: 3.03rem;
        }
    }

    &__descr {
        font-family: 'OverpassMono';
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.026rem;
        text-align: center;

        @include breakpoint(1280) {
            max-width: 53.5rem;
            margin: 0 auto;
        }
    }

    &__buy {
        position: relative;
        font-weight: 600;
        width: 26.4rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.8rem auto 0;
        background-color: var(--color-white);
        color: var(--color-black);
        font-size: 2.2rem;
        line-height: 1.27;
        cursor: pointer;
        z-index: 3;

        @include breakpoint(1280) {
            width: calc(100% - 12.6rem);
            margin: 0.6rem auto 0;
        }
    
        &::after,
        &::before {
            position: absolute;
            height: 4.8rem;
            width: 2.4rem;
            background-color: var(--color-white);
            content: "";
        }
    
        &::before {
            left: -2.4rem;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
        }
    
        &::after {
            right: -2.4rem;
            clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
        }
    }

    &.in-delay &__container,
    &.leave-back &__container,
    &.enter &__container {
        margin-top: calc(-20rem * var(--delay-percent));

        @include breakpoint(1280) {
            margin-top: 0;
        }
    }
}
