@use '../config/config' as *;

$block-name: 'b-fifteenth-screen';

.#{$block-name} {
    padding-top: 31vh;

    &__title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 18vh;
        margin: auto;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(1.4);
        transition: transform var(--anim-delay, 1s);
    }

    &__part {
        &.first {
            position: relative;
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 1.6rem;
            box-shadow: 0px -24px 64px 0px #1E3996;
        }

        &.second {
            font-size: 7rem;
            height: 1em;
            font-weight: 400;
            margin-bottom: 0.2rem;
            box-shadow: 0px 20px 64px 0px #1E3996;
            box-shadow: 0px -20px 64px 0px #1E3996;
        }

        &.third {
            --lh: 1.4;

            font-size: 3.5rem;
            font-weight: 700;
            height: 1.27em;
            box-shadow: 0px -24px 64px 0px #1E3996;
        }
    }

    &.enter &__title {
        transform: scale(1);
    }
}