@use '../config/config' as *;

$block-name: 'b-fifth-screen';

.#{$block-name} {
    position: relative;
    padding-top: 10rem;
    overflow: visible !important;

    &__text-container {
        display: flex;
        flex-direction: column;
    }

    &__text {
        --lh: 1.2;

        font-size: 6.4rem;
        height: 1.2em;
        font-weight: 700;
        transform: translateX(3rem);
        opacity: 0;
        transition:
            transform 0.6s ease,
            opacity 0.6s ease;
        animation: show-elem 3s linear both;
        animation-play-state: paused;

        @include breakpoint(1280) {
            font-size: 8rem;
        }

        &:nth-child(1) {
            animation-delay: calc(-6s * var(--delay-percent));
        }

        &:nth-child(2) {
            animation-delay: calc(1s - 6s * var(--delay-percent));
        }

        &:nth-child(3) {
            animation-delay: calc(2s - 6s * var(--delay-percent));
        }
    }

    & &__background {
        transform: translateX(3rem);
        opacity: 0;
        animation: show-elem 3s linear both;
        animation-play-state: paused;
        animation-delay: calc(2s - 6s * var(--delay-percent));
        
            & img {
                height: auto;
            }
    }

    &::before {
        position: absolute;
        width: 100vw;
        height: 100vh;
        transform-origin: bottom;
        background-color: var(--color-black);
        z-index: -1;
        top: -0.1rem;
        left: -0.1rem;
        content: "";
    }

    @keyframes show-elem {
        from {
            transform: translateX(3rem);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
