@use '../config/config' as *;

$block-name: 'b-fifth-screen';

.#{$block-name} {
    position: relative;
    padding-top: 10rem;
    overflow: visible !important;

    &__text-container {
        display: flex;
        flex-direction: column;
    }

    &__text {
        --lh: 1.2;

        font-size: 6.4rem;
        height: 1.2em;
        font-weight: 700;
        transform: translateX(3rem);
        opacity: 0;
        transition:
            transform 0.6s ease,
            opacity 0.6s ease;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                transition-delay: calc(var(--base-transition-time) + 0.7s * #{$i});
            }
        }
    }

    & &__background {
        transform: translateX(3rem);
        opacity: 0;
        transition:
            opacity 0.6s ease calc(var(--base-transition-time) + 2.15s),
            transform 0.6s ease calc(var(--base-transition-time) + 2.15s);
        
            & img {
                height: auto;
            }
    }

    &.enter &__text {
        transform: translateX(0);
        opacity: 1;
    }

    &.enter &__background {
        transform: translateX(0);
        opacity: 1;
    }
}
