@use '../config/config' as *;

$block-name: 'b-ninth-screen';

.#{$block-name} {
    padding-top: 10rem;

    &__title {
        font-size: 2.6rem;
        font-weight: 700;
        height: 1.2em;
        text-align: center;
        margin-bottom: 4.6vh;
        transform: scale(calc(var(--perc, 0)));
        transform-origin: top;

        @include breakpoint(1280) {
            font-size: 4rem;
        }
    }

    &__image {
        transform: scale(calc(var(--perc, 0)));
        margin: 0 auto;
        width: 31.4rem;
    }

    &.in-delay {
        .#{$block-name}__title,
        .#{$block-name}__image {
            transform: scale(calc(1 * ((var(--perc, 0) + var(--delay-percent, 0) * 0.1))));
        }
    }
}