@use '../config/config' as *;

$block-name: 'b-second-screen';

.#{$block-name} {
    position: relative;;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 6.7rem;
        padding: 10rem var(--padding-horizontal);
    }

    &__title {
        position: relative;
        width: 100%;
        text-align: center;
        font-weight: 700;
        color: var(--color-gray);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        z-index: 1;

        @include breakpoint(1280) {
            flex-direction: row;
            justify-content: center;
            gap: 4rem;
            color: var(--color-white);
        }

        & span:nth-child(1) {
            font-size: 3.4rem;
            height: 1.1em;

            @include breakpoint(1280) {
                font-size: 5rem;
            }
        }

        & span:nth-child(2) {
            font-size: 6rem;
            height: 1.1em;

            @include breakpoint(1280) {
                font-size: 5rem;
            }
        }
    }

    &__values-container {
        position: relative;
    }

    &__value-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        transform: translateY(18vh) scale(0);
        opacity: 0;
        transition:
            opacity var(--base-transition),
            transform var(--base-transition);
        animation: show-hide 3s linear;
        animation-play-state: paused;
        
        &.enter {
            opacity: 1;
            transform: translateY(0) scale(1);
        }

        &.leave {
            opacity: 0;
            transform: translateY(-18vh) scale(0);

            @include breakpoint(1280) {
                opacity: 1;
            }
        }

        &:nth-child(1) {
            animation-delay: calc(-3s * var(--delay-percent));

            @include breakpoint(1280) {
                transform: translate(-25vw, -18vh) scale(0);

                &.leave,
                &.enter {
                    transform: translate(-25vw, 0) scale(1);
                }
            }
        }

        &:nth-child(2) {
            animation-delay: calc(1s - 3s * var(--delay-percent));

            @include breakpoint(1280) {
                transform: translate(0, -18vh) scale(0);

                &.leave,
                &.enter {
                    transform: translate(0, 0) scale(1);
                }
            }
        }

        &:nth-child(3) {
            animation-delay: calc(2s - 3s * var(--delay-percent));

            @include breakpoint(1280) {
                transform: translate(25vw, -18vh) scale(0);

                &.leave,
                &.enter {
                    transform: translate(25vw, 0) scale(1);
                }
            }
        }
    }

    &__value {
        font-size: 7rem;
        line-height: 400;
        height: 1.2em;

        & span {
            font-family: Moul;
        }
    }

    @keyframes show-hide {
        from {
            transform: translateY(18vh) scale(0);
            opacity: 0;
        }

        25% {
            opacity: 1;
            transform: translateY(0) scale(1);
        }

        50% {
            opacity: 0;
            transform: translateY(-18vh) scale(0);
        }

        to {
            opacity: 0;
            transform: translateY(-18vh) scale(0); 
        }
    }

    &__description {
        font-size: 2.2rem;
        height: 1.27em;

        @include breakpoint(1280) {
            font-size: 2.4rem;
        }
    }
}
