@use '../config/config' as *;

$block-name: 'b-seventh-screen';

.#{$block-name} {
    padding-top: 10rem;

    @include breakpoint(1280) {
        padding-top: 15rem;
    }

    &__content-container {
        position: relative;
        height: 53.2rem;
    }

    &__wrapper {
        position: relative;
        display: flex;
        height: 100%;
        width: max-content;
        align-items: center;
        padding-right: 4rem;
        animation: slide-wrapper 9s linear both;
        animation-play-state: paused;
        animation-delay: calc(-9s * var(--delay-percent) * 1.1);
        z-index: 1;
    }

    &__img {
        position: relative;
        width: 38rem;
        height: 22.8rem;
        z-index: 1;

        &:nth-child(odd) {
            transform: translateY(-17rem);
        }

        &:nth-child(even) {
            transform: translateY(16rem);
        }
    }

    &__title {
        --lh: 1.2;
        --from: 100vw;
        --to: calc(100% + 100vw);

        position: absolute;
        font-size: 10rem;
        font-weight: 700;
        top: 2rem;
        bottom: 0;
        left: 0;
        margin: auto;
        height: fit-content;
        white-space: nowrap;
        letter-spacing: 0.24em;
        text-align: justify;
        z-index: 0;
        animation: slide-title 9s linear both;
        animation-play-state: paused;
        animation-delay: calc(-9s * var(--delay-percent) * 1.1);

        @include breakpoint(1280) {
            font-size: 16rem;
            font-weight: 700;
        }
    }

    &__text {
        --lh: 1.27;

        position: absolute;
        width: calc(100% - 2 * var(--padding-horizontal));
        min-height: 3.81em;
        font-size: 1.8rem;
        font-weight: 700;
        text-align: justify;
        bottom: 9.6rem;
        transition: opacity 0.1s linear;
        opacity: calc(1 * 0.3 * var(--delay-percent, 0));
        z-index: 1;

        @include breakpoint(1280) {
            width: calc(100% - 2 * 12rem);
            font-size: 2rem;
            text-align: center;
            color: var(--color-white);
            opacity: calc(1 * var(--delay-percent, 0));
            bottom: 13.8rem;
            min-height: unset;
        }
    }

    &__background {
        background-color: var(--color-black);
    }

    @keyframes slide-wrapper {
        from {
            transform: translateX(100vw);
        }

        to {
            transform: translateX(calc(-100% + 100vw - 3 * var(--padding-horizontal)));
        }
    }

    @keyframes slide-title {
        from {
            transform: translate(100vw);
        }

        to {
            transform: translateX(calc(-100% + 100vw - 2 * var(--padding-horizontal)));
        }
    }
}