@use '../config/config' as *;

$block-name: 'b-third-screen';

.#{$block-name} {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 27.6rem var(--padding-horizontal);
    overflow: hidden;

    &__text-container {
        position: relative;
    }

    &__text {
        max-width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 2.5rem;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        overflow: hidden;
        width: min-content;
        font-size: 6.4rem;
        font-weight: 700;
        text-align: center;
        color: var(--color-gray);

        @include breakpoint(1280) {
            font-size: 8rem;
        }

        &.actual {
            height: fit-content;
        }

        & span:nth-child(1) {
            letter-spacing: 0.1em;
        }

        & span:nth-child(2) {
            transform: translateX(-0.3rem);
        }

        & span:nth-child(3) {
            transform: translateX(2.4rem);
            letter-spacing: 0.81em;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                --from: calc(#{$i} * 2.5rem);
                --to: 0rem;
            }
        }
    }

    &.enter &__text {
        transform: translateY(calc((var(--from) - var(--to)) * (1 - var(--delay-percent, 0))));
        transition:
            transform 0.1s linear,
            color 0.4s ease;
    }

    &.leave-back &__text {
        transition: color 0.4s ease;
        color: transparent;

        &.actual {
            color: var(--color-white);
        }
    }
}